.section2{
    position: 'relative';
    padding-top:5rem ;

    .bigImg{
        display: flex;
        z-index: 1;

        justify-content: center;
        align-items: center;
        margin-inline: auto ;
        text-align: center;
        width: max(65%, 200px);
       
        img{
            width:80%;
            border-radius: 25px;
        }
        button{
            background-color:transparent ;
            border: none;
            color: white;
            width: 3rem;
            transform: rotate(30deg);
            
            .icon{
                font-size: 2rem;
            }
            &:nth-child(n+2){
                //right button
                transform: rotate(90deg);

            }
            
            }
        
    }
    .smallImg{
        max-width: 80%;
        display: none;
        flex-wrap: wrap;      
        margin: 3rem auto;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 1;

     img{
        display: 'flex';
        flex-wrap: 'wrap'; 
        height: max(6rem);
        border-radius: 15px;


        
    }
        *{
            display: 'flex';
            max-width: 10rem;
        }
    }
   
    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline:auto ;
      
       
    }
      
      
      .blur {
        $z-index: -1;
        position: relative;
        z-index: $z-index;
      }
      .bigImgImg {
        width: 100%;
        object-fit: contain;
        background-image: green;
      }

    @media screen and (max-width: 1115px) {

      
        .smallImg{
            justify-content: center;
            img{
                margin: 1rem;
            }
        }
    }
    
    }