.section3{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-inline: auto ;
    padding: max(1.5rem ,100px) 0;
    width: max(50%, 400px);
h2{
font-size: 3.2rem;
}
p{
font-size: 1rem;
}



}