$MainC: #000000;
$SecondC:#fff;
$Red:#754E4E;
$Gold:#906E47;
$Silver:#8E8E8E;


.section6{
display: flex;
flex-grow: 1;
> * {
    flex: 1;
  }
img{

}
.contactForm{
  
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto ;
    
  .content{
    border: 1px solid green;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto ;
    width: 85%;
    .inputs{
        display: flex;
        flex-direction: column;
        width: 65%;

        input::-webkit-input-placeholder {
            color: #AAA;
          }
          
          input:focus::-webkit-input-placeholder {
            color: dodgerblue;
          }
          
          .input:focus+.underline {
            transform: scale(1);
          }
          
          .underline {
            background-color: dodgerblue;
            height: 2px;
            left: 50px;
            margin-top: -4px;
            position: absolute;
            top: 185px;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
            width: 202px;
          }
        span{
            
                background-color: rgb(68, 255, 21);
                display: inline-block;
                height: 2px;
                left: 50px;
                margin-top: -4px;
                position: absolute;
                top: 185px;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transition: all 0.5s linear;
                transition: all 0.5s linear;
                width: 202px;
              
        }
    input{
        margin-bottom: 1rem;
        height: 3rem;
        border-radius: 6px;

        border: none;
        border-bottom: 1px solid #CCC;
        color: #555;
        box-sizing: border-box;
        font-size: 18px;
        padding: 10px 0px;
        position: relative;

        &:focus {
            outline: none;

        }
        
        &::placeholder{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $MainC;
            opacity: 90%;
        }
    
    }

    textarea{
        height: 6rem;
        border-radius: 6px;
        resize: none;
        &::placeholder{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $MainC;
            opacity: 90%;
            font-size: 1rem;
            transform: translateY(3px);
        }
        
    }}
    h3{
        max-width: 90%;
        font-weight: bold;
        font-size: max(2rem ,3vw);
        margin: 0.2rem auto;
       }
    
    p{
        margin-inline: auto;
        max-width: 80%;
        justify-content: center;
        text-align: center;
        font-size: max(1rem ,1.3vw);
    }
    button{
        margin-top: 2rem;
        border: none;
        width: 65%;
        height: 3rem;
        border-radius: 6px;
        background-color: #252423;
        color: $SecondC;
    }

}}


}