$MainC: #000000;
$SecondC:#fff;
$Red:#754E4E;
$Gold:#906E47;
$Silver:#8E8E8E;



.section6{
display: flex;
flex-grow: 1;
      > * {
          flex: 1;
        }
img{
  position: relative ;
  flex: 1;


}
.contactForm{
  
  //  border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto ;
    
  .content{
  //  border: 1px solid green;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto ;
    width: 85%;
       

    input{
        display: flex;
        flex-direction: column;
        width: 65%;
        font-weight:500;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;

        margin-bottom: 1rem;
        height: 3rem;
        border-top:5px;
        border-radius: 6px;
        box-sizing: border-box;
        border: none;
        box-sizing: border-box;
        padding: 25px 0px;
        border-bottom: 5px solid #252423;
        
        
        &::placeholder{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $MainC;
            opacity: 90%;
            border: 0 0 1px 0;
        }
    
    }

    textarea{
        height: 6rem;
        border-radius: 6px;
        resize: none;
        width: 65%;
        font-weight:500;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        border-bottom: 5px solid #252423;
        



        &::placeholder{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $MainC;
            opacity: 90%;
            font-size: 1rem;
            transform: translateY(3px);
        }
        
    }}

    h3{
      align-items: center;
      text-align: center;
        max-width: 90%;
        font-weight: bold;
        font-size: max(2rem ,3vw);
        margin: 0.2rem auto;
       }
    
    p{
        margin-inline: auto;
        max-width: 80%;
        justify-content: center;
        text-align: center;
        font-size: max(1rem ,1.3vw);
    }
    button{
        margin-top: 2rem;
        border: none;
        width: 65%;
        height: 3rem;
        border-radius: 6px;
        background-color: #252423;
        color: $SecondC;

        &:hover {
          background-color: $SecondC;
          color: #252423;
          transition: 0.4s;
          font-weight: bold;
        }
        &:focus {
          background-color: $SecondC;
          color: #252423;
          transition: 0.4s;
          font-weight: bold;       }
      }
    

}
@media only screen and (max-width: 950px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11rem;

.content{
  z-index: 5;
  padding-top: 3rem ;
  
}
img{
  position: absolute !important;
  width: 100vw;
  max-height: 35rem;
  z-index: 1;
  filter: grayscale(10%);
}
}}

