$Red:#754E4E;
$Gold:#906E47;
$Silver:#8E8E8E;

.section5{
    max-width: 95vw;
    margin: 2rem auto;
    justify-content: center;
    
        .switchPackages{
            width: 230px;
            height: 2.7rem;
            margin: 35px auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: relative;
            border: #906E47 3px solid;
            border-radius: 25px;

            
            button{
                height: 100%;
                padding: 10px 20.6px;
                cursor: pointer;
                background: transparent;
                color: white;
                font-weight: 700;
                border: 1px;
                position: relative;
                text-align: center;
                align-items: center;
                justify-content: center;
                
               
            }
            #btn{
                left: 0;
                top: 0;
                position: absolute;
                width: 105px;
                height: 92%;
                background-color: #25242390;
                border: 3px $Gold solid;
                border-radius: 20px;
                transition: 0.5s;

            }
        
        }
        .coupleCards{
            display: flex;
            justify-content: space-around;
            width: 90vw;
            margin-inline: auto ;
            .prices{
                h5{
                    text-decoration: line-through;
                    margin: 0;
                }
                h4{
                    margin-top: 20px;
                }
            }
            
            .CoupleCard{
                width: 30%       
                
            }
            
            @media only screen and (max-width: 900px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .CoupleCard{
                    width: 75vw;
                    margin-bottom: 2rem;
                }
            }
           
            
        
 
 
        }
              
        .groupCard{
        max-width: 45%;                
        margin-inline: auto ;
       
        h3{
            background-color: $Gold;
            font-size: 1.4rem;
        }
        img{
            
            width: 100%;
        }
        @media only screen and (max-width: 900px) {
         
                max-width: 75vw !important;
                margin-bottom: 2rem;
            }

    }

            
        .card{
            align-items: center;
            text-align: center;
            
            
            h3{
                margin: 0;
                padding-top: 2rem ;
                padding-bottom: 2rem ;
                border-radius: 50px 50px 0 0;
                
             
            }
                       
            .fc{
                background-color: $Red
            }
            .sc{
                background-color: $Gold
            }
            .tc{
                background-color: $Silver
            }
            
            img{
                width: 100%;
             }
             .order{
                display: flex;
                width: 100%;
                background-color: #171717;
                border-radius: 0 0 50px 50px;
                align-items: center;
                justify-content: center;
                transform: translateY(-6px);
                gap: 2rem;
          
            .price{
                font-size: 1.5rem;
            }
            .buy-button{
                text-decoration: none;
                color: #fff;
            
            .orderBtn{
                border-radius: 10px ;
                padding: 0.5rem 1.25rem;
                background-color:#1E1E1E ;
                cursor: pointer;
            
                &:hover{
                  background-color: white;
                  color: black;  
                  transition: 0.5s linear;
                }

                }
                 }
            }
 

        }
        //remove it soooon
       
}